# Dependency directories
node_modules/


# dotenv environment variables file
.env
.env.test

# reports mocha
mochawesome-reports


# reports cucumber

cypress/reports/cucumber_report.html
cypress/reports/cucumber_report.html.json
cypress/reports/cucumber-json/**


# Videos

cypress/Videos


